{
  "development": {
    "username": "root",
    "password": "rootpass",
    "database": "projecta",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "test": {
    "username": "root",
    "password": "rootpass",
    "database": "projecta",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "root",
    "password": "rootpass",
    "database": "projecta",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
